<div class="col-md-12">
  <p id="notice"><%= notice %></p>

  <h1>Список фильмов</h1>

  <table class="table table-striped table-bordered" width="50%">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Format</th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie %></td>
          <td><%= movie.description %></td>
          <td><%= movie.format %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
